Package: com.isklikas.howdareyou
Name: HowDareYou
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: isklikas
Author: isklikas
Section: Tweaks
